*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 16px; /* 1rem =10px*/
  font-family: 'Roboto', sans-serif;
}

.container{
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  background-color: #20598b;
}

.header{
display: flex;
overflow: hidden;
background-image: url("../img/Red.svg") ;
background-size:500px;
}

.title{
  padding: 18px 0 18px 64px;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.icon{
  width: 24px;
  height: 24px;
  padding: 24px 0 0 12px;
}

.containerPost{
  display: flex;
  justify-content: center;
  height: 100vh 45px;
  color: black;
}

.accordion{
  width: 70%;
  background-color: "fff0";
  padding: 2.5rem ;
  border:solid 1px;
  border-radius: 10px;
  border-color: #20598b;
}

.block{
  background-color:#fff0;
  padding: 1rem;
}

.h2{
  background-color: #20598b;
  padding: 1.5rem;
  color:#fff;
  border-radius: 10px;
}

.content{
  background-color: #bcdaf548;
  padding: 0 35px;
  margin-top:10px ;
  height: 0;
  overflow: hidden;
  transition: .1s;
  border-radius: 10px;
}

.block.active .content{
  height: 100%;
  border:solid;
  border-color: #bcdaf548;
  border-radius: 10px;
}
.btn {
  width: 25%;
  background-color:  #1D85FF;
  text-transform: uppercase;
  font-weight: bold;
  margin:auto;
  text-decoration: none;
  border-radius: 10px;
  border-color:  #1D85FF;
  margin: 40px auto;

}
.btns{
  width: 100%;
  text-decoration: none;
  color:#fff;
  background-color: #20598b ;
  padding:15px;
  border-color:  #20598b;
  border-radius: 10px;
  font-size: 20px;
}

.btns:hover{
  background-color: #1D85FF ;
  border-color: #1D85FF;
  cursor:pointer;
}
